{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Type</th>
                                    <th>Serial Number</th>
                                    <th>IP Address</th>
                                    <th>Port</th>
                                    <th>Username</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for device in devices %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ device.get_type_display }}</td>
                                    <td>{{ device.serial_number }}</td>
                                    <td>{{ device.ip_address|default:"-" }}</td>
                                    <td>{{ device.port }}</td>
                                    <td>{{ device.username|default:"-" }}</td>
                                    <td><a href="{% url 'edit_device' device.id %}" class="btn btn-primary">Edit</a> -
                                        <a href="{% url 'delete_device' device.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
